In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Resources/Big_Cities_Health_Data_Inventory.csv')
df.head(5)

,Indicator Category,Indicator,Year,Gender,Race/ Ethnicity,Value,Place,BCHC Requested Methodology,Source,Methods,Notes
0,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",2013,Both,All,30.4,"Atlanta (Fulton County), GA","AIDS cases diagnosed in 2012, 2013, 2014 (as a...",Diagnoses numbers were obtained from the Georg...,NaN,NaN
1,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",2012,Both,All,39.6,"Atlanta (Fulton County), GA","AIDS cases diagnosed in 2012, 2013, 2014 (as a...",Diagnoses numbers were obtained from the Georg...,NaN,NaN
2,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",2011,Both,All,41.7,"Atlanta (Fulton County), GA","AIDS cases diagnosed in 2012, 2013, 2014 (as a...",Diagnoses numbers were obtained from the Georg...,NaN,NaN
3,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,2013,Male,All,195.8,"Atlanta (Fulton County), GA","2012, 2013, 2014; per 100,000 population using...","National Center for Health Statistics (NCHS), CDC",NaN,NaN
4,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,2013,Female,All,135.5,"Atlanta (Fulton County), GA","2012, 2013, 2014; per 100,000 population using...","National Center for Health Statistics (NCHS), CDC",NaN,NaN

In [3]:
df['Indicator Category'].value_counts()

HIV/AIDS                                    2177
Injury and Violence                         1916
Nutrition, Physical Activity, & Obesity     1841
Infectious Disease                          1486
Cancer                                      1432
Maternal and Child Health                   1323
Behavioral Health/Substance Abuse            983
Food Safety                                  874
Life Expectancy and Death Rate (Overall)     544
Demographics                                 504
Tobacco                                      432
Name: Indicator Category, dtype: int64

In [4]:
NPO = df[df['Indicator Category'] =='Nutrition, Physical Activity, & Obesity']

In [5]:
NPO['Indicator'].value_counts()

Heart Disease Mortality Rate (Age-Adjusted; Per 100,000 people)                      554
Diabetes Mortality Rate (Age-Adjusted; Per 100,000 people)                           538
Percent of Adults Who Are Obese                                                      253
Percent of Adults Who Meet CDC-Recommended Physical Activity Levels                  181
Percent of High School Students Who Meet CDC-Recommended Physical Activity Levels    181
Percent of High School Students Who Are Obese                                        134
Name: Indicator, dtype: int64

In [6]:
obesity_df = NPO[NPO['Indicator'].str.contains('Physical Activity Levels') == False]

obesity_df['Indicator'].value_counts()

Heart Disease Mortality Rate (Age-Adjusted; Per 100,000 people)    554
Diabetes Mortality Rate (Age-Adjusted; Per 100,000 people)         538
Percent of Adults Who Are Obese                                    253
Percent of High School Students Who Are Obese                      134
Name: Indicator, dtype: int64

In [7]:
cleaned_health_data = obesity_df[['Indicator','Place','Value']]
cleaned_health_data
# cleaned_health_data['Indicator'].value_counts()

,Indicator,Place,Value
34,Diabetes Mortality Rate (Age-Adjusted; Per 100...,"Atlanta (Fulton County), GA",19.3
35,Diabetes Mortality Rate (Age-Adjusted; Per 100...,"Atlanta (Fulton County), GA",17.1
36,Diabetes Mortality Rate (Age-Adjusted; Per 100...,"Atlanta (Fulton County), GA",22.1
37,Diabetes Mortality Rate (Age-Adjusted; Per 100...,"Atlanta (Fulton County), GA",19.2
38,Diabetes Mortality Rate (Age-Adjusted; Per 100...,"Atlanta (Fulton County), GA",17.5
...,...,...,...
13438,Heart Disease Mortality Rate (Age-Adjusted; Pe...,"Long Beach, CA",227.7
13440,Heart Disease Mortality Rate (Age-Adjusted; Pe...,"Long Beach, CA",236.6
13441,Heart Disease Mortality Rate (Age-Adjusted; Pe...,"Long Beach, CA",245.9
13442,Heart Disease Mortality Rate (Age-Adjusted; Pe...,"Long Beach, CA",248.1
13444,Heart Disease Mortality Rate (Age-Adjusted; Pe...,"Long Beach, CA",281.6

In [8]:
place = cleaned_health_data["Place"].str.split(",", n = 1, expand = True)

In [9]:
cleaned_health_data["city"]= place[0]

C:\Users\DANNYD~1\AppData\Local\Temp/ipykernel_9140/2423460168.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_health_data["city"]= place[0]

In [10]:
cleaned_health_data["state"]= place[1]

C:\Users\DANNYD~1\AppData\Local\Temp/ipykernel_9140/3885828431.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_health_data["state"]= place[1]

In [11]:
cleaned_health_data.drop(columns=['Place'],inplace=True)

C:\Users\Danny Dao\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [12]:
cleaned_health_data.head(5)

,Indicator,Value,city,state
34,Diabetes Mortality Rate (Age-Adjusted; Per 100...,19.3,Atlanta (Fulton County),GA
35,Diabetes Mortality Rate (Age-Adjusted; Per 100...,17.1,Atlanta (Fulton County),GA
36,Diabetes Mortality Rate (Age-Adjusted; Per 100...,22.1,Atlanta (Fulton County),GA
37,Diabetes Mortality Rate (Age-Adjusted; Per 100...,19.2,Atlanta (Fulton County),GA
38,Diabetes Mortality Rate (Age-Adjusted; Per 100...,17.5,Atlanta (Fulton County),GA

In [13]:
cleaned_health_data['city'] = cleaned_health_data['city'].replace({'Atlanta (Fulton County)': 'Atlanta', 'Miami (Miami-Dade County)': 'Miami', 'San Diego County': 'San Diego', 'Las Vegas (Clark County)' : 'Las Vegas', 'Fort Worth (Tarrant County)': 'Fort Worth', 'Portland (Multnomah County)' : 'Portland'})

C:\Users\DANNYD~1\AppData\Local\Temp/ipykernel_9140/2093826020.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_health_data['city'] = cleaned_health_data['city'].replace({'Atlanta (Fulton County)': 'Atlanta', 'Miami (Miami-Dade County)': 'Miami', 'San Diego County': 'San Diego', 'Las Vegas (Clark County)' : 'Las Vegas', 'Fort Worth (Tarrant County)': 'Fort Worth', 'Portland (Multnomah County)' : 'Portland'})

In [14]:
cleaned_health_data['city'].value_counts()

Phoenix          97
Miami            83
New York         82
Chicago          79
Denver           74
Los Angeles      69
Philadelphia     68
Seattle          67
Las Vegas        63
Long Beach       62
Boston           60
Washington       59
San Diego        54
San Jose         53
U.S. Total       52
San Antonio      52
Portland         48
Houston          47
Atlanta          46
Sacramento       44
Minneapolis      44
Fort Worth       42
Kansas City      33
Cleveland        30
Detroit          25
Oakland          21
Baltimore        16
San Francisco     9
Name: city, dtype: int64

In [15]:
cleaned_health_data = cleaned_health_data.groupby(['city', 'Indicator']).mean().reset_index()
cleaned_health_data

          city                                          Indicator       Value
0      Atlanta  Diabetes Mortality Rate (Age-Adjusted; Per 100...   20.343750
1      Atlanta  Heart Disease Mortality Rate (Age-Adjusted; Pe...  161.820000
2      Atlanta                    Percent of Adults Who Are Obese   22.880000
3    Baltimore  Heart Disease Mortality Rate (Age-Adjusted; Pe...  241.600000
4    Baltimore                    Percent of Adults Who Are Obese   31.793333
..         ...                                                ...         ...
85  U.S. Total      Percent of High School Students Who Are Obese   14.200000
86  Washington  Diabetes Mortality Rate (Age-Adjusted; Per 100...   22.111111
87  Washington  Heart Disease Mortality Rate (Age-Adjusted; Pe...  198.116667
88  Washington                    Percent of Adults Who Are Obese   22.286364
89  Washington      Percent of High School Students Who Are Obese   14.800000

[90 rows x 3 columns]

### Restaurants

In [16]:
df2 = pd.read_csv('Resources/FastFoodRestaurants.csv')
df2.head(5)

,address,city,country,keys,latitude,longitude,name,postalCode,province,websites
0,324 Main St,Massena,US,us/ny/massena/324mainst/-1161002137,44.92130,-74.89021,McDonald's,13662,NY,"http://mcdonalds.com,http://www.mcdonalds.com/..."
1,530 Clinton Ave,Washington Court House,US,us/oh/washingtoncourthouse/530clintonave/-7914...,39.53255,-83.44526,Wendy's,43160,OH,http://www.wendys.com
2,408 Market Square Dr,Maysville,US,us/ky/maysville/408marketsquaredr/1051460804,38.62736,-83.79141,Frisch's Big Boy,41056,KY,"http://www.frischs.com,https://www.frischs.com..."
3,6098 State Highway 37,Massena,US,us/ny/massena/6098statehighway37/-1161002137,44.95008,-74.84553,McDonald's,13662,NY,"http://mcdonalds.com,http://www.mcdonalds.com/..."
4,139 Columbus Rd,Athens,US,us/oh/athens/139columbusrd/990890980,39.35155,-82.09728,OMG! Rotisserie,45701,OH,"http://www.omgrotisserie.com,http://omgrotisse..."

In [17]:
restaurants=df2[['city', 'name']]
restaurants.columns =['city', 'num_restaurant']
restaurants

                        city               num_restaurant
0                    Massena                   McDonald's
1     Washington Court House                      Wendy's
2                  Maysville             Frisch's Big Boy
3                    Massena                   McDonald's
4                     Athens              OMG! Rotisserie
...                      ...                          ...
9995                 Augusta                      Wendy's
9996                    Cary  Lee's Oriental Martial Arts
9997                Longmont                    Five Guys
9998          Cathedral City                El Pollo Loco
9999                 Anaheim                   Carl's Jr.

[10000 rows x 2 columns]

In [18]:
restaurants['num_restaurant'].value_counts()

McDonald's                      1886
Burger King                     1154
Taco Bell                        873
Wendy's                          731
Arby's                           518
                                ...
Charcoal Delights                  1
Jim's Coney Island                 1
The Great Steak & Potato Co.       1
Hot Dog Heaven                     1
Lee's Oriental Martial Arts        1
Name: num_restaurant, Length: 548, dtype: int64

In [19]:
restaurants =restaurants.groupby(['city']).count()
restaurants =restaurants.sort_values('num_restaurant', ascending = True)
restaurants

                num_restaurant
city
Long Branch                  1
Mena                         1
Medicine Lodge               1
Media                        1
Mechanicville                1
...                        ...
Denver                      52
Miami                       58
Houston                     63
Las Vegas                   72
Cincinnati                 119

[2775 rows x 1 columns]

### Loading

In [24]:
import psycopg2
from sqlalchemy import create_engine
from site_key import pw

In [25]:
engine = create_engine(f'postgresql://postgres:{pw}@localhost:5432/city_health_db')
connection = engine.connect()

In [ ]:
cleaned_health_data.to_sql(name='cleaned_health_data', con=engine, if_exists='append', index=False)